#dato0{
    color: aqua;
    font-size: 16px;
}
.pato{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
    text-align-last: right;
    background-color: black;
}
div{
    height: 400px;
    width: 400px;
}